In [ ]:
# Loop - to continue the work till the condition satisfied.
# While loop and For loop
# While loop initialization conditon increment or decrement
# WAP to print your name for 20 times.
start = 1 
stop = 20
while start <= stop:
  print (start, ":Python !!!")
  # increment the value of start by 1
  start = start + 1

1 :Python !!!
2 :Python !!!
3 :Python !!!
4 :Python !!!
5 :Python !!!
6 :Python !!!
7 :Python !!!
8 :Python !!!
9 :Python !!!
10 :Python !!!
11 :Python !!!
12 :Python !!!
13 :Python !!!
14 :Python !!!
15 :Python !!!
16 :Python !!!
17 :Python !!!
18 :Python !!!
19 :Python !!!
20 :Python !!!

In [ ]:
# WAP to print your name for 20 times.
start = 1 
stop = 20
while stop >= start:
  print (stop, ":Python !!!")
  # decrement the value of stop by 1
  stop = stop - 1

20 :Python !!!
19 :Python !!!
18 :Python !!!
17 :Python !!!
16 :Python !!!
15 :Python !!!
14 :Python !!!
13 :Python !!!
12 :Python !!!
11 :Python !!!
10 :Python !!!
9 :Python !!!
8 :Python !!!
7 :Python !!!
6 :Python !!!
5 :Python !!!
4 :Python !!!
3 :Python !!!
2 :Python !!!
1 :Python !!!

In [ ]:
# Function: write once use or call as many time as you want.
# def <function name> (parameter, parameter, ...): it may return value or may not return value.
def myPrint(val):
  print(val)

In [ ]:
# Call the funciton.
myPrint("Hello")

Hello

In [ ]:
myPrint(val = "Hello")

Hello

In [ ]:
# WAP to print the sum of all the odd numbers between 1 to 100.
def oddNumber(val):
  if val % 2 != 0:
    return 1
  else:
    return 0

In [ ]:
start = 1
stop = 10
oddsum = 0
while start <= stop:
  if oddNumber(start) == 1:
    oddsum = oddsum + start
  start += 1
print("The sum of odd number between 1 to", stop, "is", oddsum)

The sum of odd number between 1 to 10 is 25

In [ ]:
# for variable in condition range(start, end, increment/decrement(optional))
print(*range(1, 50))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [ ]:
start = 1
stop = 10
oddsum = 0
for i in range(start, stop+1):
  if oddNumber(i) == 1:
    oddsum = oddsum + i
print("The sum of odd number between 1 to", stop, "is", oddsum)

The sum of odd number between 1 to 10 is 25

In [ ]:
# Primitive data type which contains the single value age=20
# Non primitive data type is collection values of same data type or different data type.
# e.g. ["A", "20", "Male", 50000]
# List: Mutable(add/update/delete/read) collection which can have ame data type or different data type of values. It is represented by [].
# Tuple: Immutable(READ ONLY) collection which can have ame data type or different data type of values. It is represented by ().
# Set: Mutable(add/update/delete/read) collection which can have ame data type or different data type of values. It contains only UNIQUE VALUES. It is represented by {}.
# Dictionary: Mutable(add/update/delete/read) collection which can have ame data type or different data type of values.
# Dic contains the values in the form key-value pair where the key name are unique. It is represented by {}.

In [ ]:
# List
# Empty List.
country = []
# List with values
country = ["India", "Australia", "USA", "England"]
# List can also have different values
employee = [1, "Test", 25, "Male", 50000, True]
print(type(country))
print(type(employee))
# print values one by one.
for c in country:
  print(c)
print(*employee)

# Add new value to list.
country.append("Newzeland")
print(country)

# Insert add the new value at the position you want.
country.insert(0, "France")
print(country)

# Update any record
employee[3] = "Female"
print(employee)

# Remove 
employee.remove("Female")
print(employee)

<class 'list'>
<class 'list'>
India
Australia
USA
England
1 Test 25 Male 50000 True
['India', 'Australia', 'USA', 'England', 'Newzeland']
['France', 'India', 'Australia', 'USA', 'England', 'Newzeland']
[1, 'Test', 25, 'Female', 50000, True]
[1, 'Test', 25, 50000, True]

In [ ]:
# Tuple
country = ("India", "Australia", "USA", "England")
print(type(country))
print(country)
for c in country:
  print(c)

<class 'tuple'>
('India', 'Australia', 'USA', 'England')
India
Australia
USA
England

In [ ]:
# Set
country = {'France', 'India', 'Australia', 'USA', 'England', 'Newzeland','England'}
print(type(country))
print(country)
for c in country:
  print(c)

# Append
country.add("Germany")
print(country)

# Remove
country.remove("England")
print(country)

<class 'set'>
{'France', 'Australia', 'England', 'India', 'USA', 'Newzeland'}
France
Australia
England
India
USA
Newzeland
{'France', 'Australia', 'England', 'Germany', 'India', 'USA', 'Newzeland'}
{'France', 'Australia', 'Germany', 'India', 'USA', 'Newzeland'}

In [ ]:
# Dictionary
employee = {"id": 15, "name": "test", "gender": "Male", "salary": 5000.56}
print(type(employee))
print(employee)

# Print all the key name.
print(employee.keys())

# Print all the value.
print(employee.values())

# Print the value of the key.
print(employee["id"])
print(employee["salary"])

for k in employee.keys():
  print(k, "=", employee[k] )

<class 'dict'>
{'id': 15, 'name': 'test', 'gender': 'Male', 'salary': 5000.56}
dict_keys(['id', 'name', 'gender', 'salary'])
dict_values([15, 'test', 'Male', 5000.56])
15
5000.56
id = 15
name = test
gender = Male
salary = 5000.56

In [ ]:
# Find the factorial of number(数字的阶乘) from 2 to 10 using function
def factorial(val):
  fac = 1
  for i in range(1,val+1):
    fac *= i
  return fac

for j in range(2, 11):
  print(factorial(j))

2
6
24
120
720
5040
40320
362880
3628800

In [16]:
# Print the table from 2 to 10 using function like this:
# 2x1= 2, 2x2=4,...
def multiplicationTable(num):
  for i in range(1, num + 1):
    print("----------- Mutliplication Table of", i, "----------")
    for j in range(1, num + 1):
      print(*(i, "x", j, "=", i*j),"\b") 
  print("-------------------- The End --------------------")  
  return

multiplicationTable(10)

----------- Mutliplication Table of 1 ----------
1 x 1 = 1 
1 x 2 = 2 
1 x 3 = 3 
1 x 4 = 4 
1 x 5 = 5 
1 x 6 = 6 
1 x 7 = 7 
1 x 8 = 8 
1 x 9 = 9 
1 x 10 = 10 
----------- Mutliplication Table of 2 ----------
2 x 1 = 2 
2 x 2 = 4 
2 x 3 = 6 
2 x 4 = 8 
2 x 5 = 10 
2 x 6 = 12 
2 x 7 = 14 
2 x 8 = 16 
2 x 9 = 18 
2 x 10 = 20 
----------- Mutliplication Table of 3 ----------
3 x 1 = 3 
3 x 2 = 6 
3 x 3 = 9 
3 x 4 = 12 
3 x 5 = 15 
3 x 6 = 18 
3 x 7 = 21 
3 x 8 = 24 
3 x 9 = 27 
3 x 10 = 30 
----------- Mutliplication Table of 4 ----------
4 x 1 = 4 
4 x 2 = 8 
4 x 3 = 12 
4 x 4 = 16 
4 x 5 = 20 
4 x 6 = 24 
4 x 7 = 28 
4 x 8 = 32 
4 x 9 = 36 
4 x 10 = 40 
----------- Mutliplication Table of 5 ----------
5 x 1 = 5 
5 x 2 = 10 
5 x 3 = 15 
5 x 4 = 20 
5 x 5 = 25 
5 x 6 = 30 
5 x 7 = 35 
5 x 8 = 40 
5 x 9 = 45 
5 x 10 = 50 
----------- Mutliplication Table of 6 ----------
6 x 1 = 6 
6 x 2 = 12 
6 x 3 = 18 
6 x 4 = 24 
6 x 5 = 30 
6 x 6 = 36 
6 x 7 = 42 
6 x 8 = 48 
6 x 9 = 54 
6 x 10 = 60 
----------- Mutliplication Table of 7 ----------
7 x 1 = 7 
7 x 2 = 14 
7 x 3 = 21 
7 x 4 = 28 
7 x 5 = 35 
7 x 6 = 42 
7 x 7 = 49 
7 x 8 = 56 
7 x 9 = 63 
7 x 10 = 70 
----------- Mutliplication Table of 8 ----------
8 x 1 = 8 
8 x 2 = 16 
8 x 3 = 24 
8 x 4 = 32 
8 x 5 = 40 
8 x 6 = 48 
8 x 7 = 56 
8 x 8 = 64 
8 x 9 = 72 
8 x 10 = 80 
----------- Mutliplication Table of 9 ----------
9 x 1 = 9 
9 x 2 = 18 
9 x 3 = 27 
9 x 4 = 36 
9 x 5 = 45 
9 x 6 = 54 
9 x 7 = 63 
9 x 8 = 72 
9 x 9 = 81 
9 x 10 = 90 
----------- Mutliplication Table of 10 ----------
10 x 1 = 10 
10 x 2 = 20 
10 x 3 = 30 
10 x 4 = 40 
10 x 5 = 50 
10 x 6 = 60 
10 x 7 = 70 
10 x 8 = 80 
10 x 9 = 90 
10 x 10 = 100 
-------------------- The End --------------------