In [ ]:
# Pandas: it is a data cleaning and data analyzing tools used in python.
# import pandas as pd
# pip install <library name>
# !pip install <library name>
# Two types of data:
# Data Series: single dimesion value like array - one column, many rows.
# Data Frame: 2 dimesion array like the excel, sql, rows and columns.

In [1]:
import pandas as pd

In [ ]:
# load the csv file: pd.read_csv(path) 
path = '/content/drive/MyDrive/data /weather.csv'
# path = 'weather.csv'
df = pd.read_csv(path)
type(df)

pandas.core.frame.DataFrame

In [4]:
# head() show first 5 rows
# head(n) show first n rows.
# tail() show last 5 rows
# tail(n) show last n rows.
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [5]:
df.tail()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [6]:
# entile information of dataframe like no. of columns, data type of each columns, no. of rows.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [7]:
# statistical information of all numerical columns.
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [8]:
# statistical information of data type object.
df.describe(include='object')

,Formatted Date,Summary,Precip Type,Daily Summary
count,96453,96453,95936,96453
unique,96429,27,2,214
top,2010-08-02 00:00:00.000 +0200,Partly Cloudy,rain,Mostly cloudy throughout the day.
freq,2,31733,85224,20085

In [9]:
# Get the unique values of columns.
df['Precip Type'].unique()

array(['rain', 'snow', nan], dtype=object)

In [10]:
df['Daily Summary'].unique()

array(['Partly cloudy throughout the day.',
       'Mostly cloudy throughout the day.', 'Foggy in the evening.',
       'Foggy overnight and breezy in the morning.',
       'Overcast throughout the day.', 'Partly cloudy until night.',
       'Mostly cloudy until night.',
       'Foggy starting overnight continuing until morning.',
       'Foggy in the morning.', 'Partly cloudy until evening.',
       'Partly cloudy starting in the morning.',
       'Mostly cloudy starting overnight continuing until night.',
       'Mostly cloudy until evening.',
       'Partly cloudy starting in the morning continuing until evening.',
       'Partly cloudy starting in the afternoon.',
       'Partly cloudy starting overnight.',
       'Partly cloudy until morning.',
       'Partly cloudy starting overnight continuing until night.',
       'Partly cloudy starting in the afternoon continuing until night.',
       'Mostly cloudy starting overnight.',
       'Partly cloudy until afternoon.',
       'Mostly cloudy until night and breezy in the afternoon.',
       'Foggy starting in the evening.', 'Foggy throughout the day.',
       'Foggy starting in the evening continuing until night.',
       'Mostly cloudy until morning.',
       'Foggy starting in the morning continuing until evening.',
       'Foggy starting overnight continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until afternoon.',
       'Foggy starting overnight.', 'Foggy until morning.',
       'Foggy starting overnight continuing until evening.',
       'Foggy starting in the afternoon.',
       'Partly cloudy starting overnight continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until night.',
       'Overcast until night.',
       'Mostly cloudy starting overnight continuing until evening.',
       'Foggy overnight.', 'Partly cloudy in the morning.',
       'Mostly cloudy starting in the morning.',
       'Foggy starting in the afternoon continuing until evening.',
       'Mostly cloudy until afternoon.',
       'Foggy starting overnight continuing until night.',
       'Mostly cloudy throughout the day and breezy in the evening.',
       'Foggy starting in the morning continuing until afternoon.',
       'Partly cloudy in the afternoon.', 'Clear throughout the day.',
       'Partly cloudy starting in the afternoon continuing until evening.',
       'Partly cloudy overnight.', 'Overcast until evening.',
       'Foggy in the morning and breezy starting in the afternoon continuing until night.',
       'Breezy starting overnight continuing until afternoon and foggy starting in the morning continuing until evening.',
       'Partly cloudy starting overnight continuing until morning.',
       'Mostly cloudy throughout the day and breezy in the afternoon.',
       'Mostly cloudy starting overnight and breezy in the afternoon.',
       'Partly cloudy throughout the day and breezy starting in the morning continuing until night.',
       'Mostly cloudy throughout the day and breezy in the morning.',
       'Partly cloudy starting in the evening continuing until night.',
       'Mostly cloudy until night and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until evening and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy throughout the day and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy throughout the day and breezy starting in the morning continuing until evening.',
       'Foggy until afternoon.',
       'Overcast until night and breezy overnight.',
       'Breezy until morning and mostly cloudy throughout the day.',
       'Mostly cloudy starting in the morning continuing until night.',
       'Breezy starting overnight continuing until morning and partly cloudy starting overnight continuing until evening.',
       'Partly cloudy in the evening.',
       'Mostly cloudy starting overnight continuing until afternoon.',
       'Mostly cloudy starting in the morning continuing until afternoon.',
       'Mostly cloudy starting in the afternoon.',
       'Mostly cloudy starting in the morning continuing until evening.',
       'Partly cloudy starting overnight continuing until afternoon and breezy in the afternoon.',
       'Partly cloudy starting overnight and breezy in the afternoon.',
       'Mostly cloudy starting in the morning and breezy in the evening.',
       'Foggy starting in the afternoon continuing until night.',
       'Foggy until night.',
       'Foggy starting in the morning continuing until night.',
       'Foggy until evening.', 'Foggy starting in the morning.',
       'Partly cloudy starting overnight continuing until evening.',
       'Partly cloudy starting overnight continuing until evening and breezy starting in the morning continuing until evening.',
       'Breezy starting overnight continuing until morning and foggy in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the morning continuing until evening.',
       'Partly cloudy until evening and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy starting in the afternoon continuing until night.',
       'Breezy starting overnight continuing until afternoon and mostly cloudy starting overnight continuing until evening.',
       'Mostly cloudy throughout the day and windy starting in the morning continuing until evening.',
       'Breezy and partly cloudy in the afternoon.',
       'Mostly cloudy starting overnight and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy until night and breezy starting in the morning continuing until afternoon.',
       'Breezy and mostly cloudy overnight.',
       'Mostly cloudy throughout the day and breezy overnight.',
       'Mostly cloudy throughout the day and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy throughout the day and breezy in the morning.',
       'Partly cloudy starting in the morning continuing until evening and breezy starting in the afternoon continuing until evening.',
       'Partly cloudy throughout the day and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy starting overnight and breezy in the morning.',
       'Partly cloudy starting in the afternoon and breezy in the afternoon.',
       'Partly cloudy starting in the morning and breezy in the evening.',
       'Partly cloudy until evening and breezy in the morning.',
       'Partly cloudy starting overnight continuing until evening and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy starting overnight continuing until evening and breezy in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the evening.',
       'Mostly cloudy throughout the day and windy starting in the morning continuing until night.',
       'Breezy starting overnight continuing until morning and partly cloudy starting in the morning.',
       'Mostly cloudy starting in the morning and breezy overnight.',
       'Overcast throughout the day and breezy starting overnight continuing until morning.',
       'Partly cloudy throughout the day and breezy in the evening.',
       'Mostly cloudy until evening and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy until night and breezy in the evening.',
       'Partly cloudy starting in the evening.',
       'Overcast starting in the morning.',
       'Mostly cloudy starting overnight continuing until evening and breezy starting overnight continuing until morning.',
       'Partly cloudy starting overnight continuing until morning and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy until evening and breezy starting in the morning continuing until evening.',
       'Breezy starting in the morning continuing until afternoon and partly cloudy starting in the morning.',
       'Partly cloudy starting in the morning and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy starting overnight continuing until morning.',
       'Mostly cloudy throughout the day and breezy starting overnight continuing until afternoon.',
       'Breezy starting overnight continuing until morning and foggy overnight.',
       'Mostly cloudy throughout the day and breezy starting overnight continuing until morning.',
       'Overcast throughout the day and breezy in the morning.',
       'Overcast throughout the day and breezy in the evening.',
       'Mostly cloudy starting in the morning continuing until night and breezy in the afternoon.',
       'Mostly cloudy until night and breezy starting in the evening continuing until night.',
       'Partly cloudy until night and breezy in the morning.',
       'Partly cloudy until evening and breezy overnight.',
       'Partly cloudy starting overnight continuing until night and windy starting in the morning continuing until afternoon.',
       'Breezy starting in the morning continuing until afternoon and mostly cloudy starting in the morning.',
       'Foggy starting overnight continuing until morning and breezy starting in the evening.',
       'Mostly cloudy until night and breezy starting in the afternoon.',
       'Foggy in the afternoon.',
       'Mostly cloudy until night and breezy starting in the afternoon continuing until night.',
       'Foggy starting overnight continuing until morning and breezy starting in the evening continuing until night.',
       'Breezy until afternoon and mostly cloudy throughout the day.',
       'Mostly cloudy throughout the day and breezy starting in the morning continuing until night.',
       'Partly cloudy starting overnight continuing until evening and breezy in the morning.',
       'Mostly cloudy starting in the morning and breezy in the afternoon.',
       'Mostly cloudy starting overnight continuing until night and breezy starting in the morning continuing until evening.',
       'Foggy starting overnight continuing until morning and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy until evening and windy starting in the morning continuing until afternoon.',
       'Foggy starting overnight continuing until afternoon and breezy in the morning.',
       'Foggy starting in the morning continuing until afternoon and breezy starting in the evening.',
       'Partly cloudy starting overnight and breezy starting in the morning continuing until afternoon.',
       'Foggy starting overnight continuing until morning and breezy in the afternoon.',
       'Mostly cloudy starting overnight and breezy starting in the afternoon continuing until evening.',
       'Overcast throughout the day and breezy starting overnight continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until evening and breezy in the afternoon.',
       'Partly cloudy starting in the morning continuing until night and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy until night and breezy starting in the evening.',
       'Breezy in the morning and mostly cloudy starting in the morning.',
       'Mostly cloudy until night and breezy starting in the morning continuing until evening.',
       'Partly cloudy starting overnight continuing until evening and windy starting in the morning continuing until evening.',
       'Breezy in the morning and partly cloudy starting in the evening continuing until night.',
       'Partly cloudy overnight and breezy starting in the morning continuing until afternoon.',
       'Light rain in the morning.', 'Light rain until morning.',
       'Light rain in the morning and afternoon.',
       'Partly cloudy starting in the morning continuing until night and breezy starting in the morning continuing until afternoon.',
       'Breezy starting in the afternoon continuing until night and mostly cloudy starting in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the evening continuing until night.',
       'Foggy starting in the afternoon and breezy starting in the afternoon continuing until evening.',
       'Breezy and foggy until morning.',
       'Mostly cloudy until night and breezy starting overnight continuing until morning.',
       'Partly cloudy starting overnight continuing until night and breezy in the morning.',
       'Partly cloudy starting overnight continuing until night and breezy in the afternoon.',
       'Mostly cloudy starting in the morning and breezy starting in the afternoon continuing until evening.',
       'Partly cloudy starting overnight and breezy starting in the evening.',
       'Breezy overnight and overcast throughout the day.',
       'Partly cloudy until night and breezy in the afternoon.',
       'Mostly cloudy starting overnight and breezy starting in the evening.',
       'Breezy overnight and partly cloudy until evening.',
       'Mostly cloudy starting in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the afternoon.',
       'Mostly cloudy throughout the day and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy until night and windy starting in the morning continuing until afternoon.',
       'Breezy and foggy starting in the evening.',
       'Breezy overnight and partly cloudy throughout the day.',
       'Overcast throughout the day and breezy starting in the evening.',
       'Breezy until evening and foggy in the morning.',
       'Breezy overnight and mostly cloudy throughout the day.',
       'Partly cloudy until evening and breezy in the afternoon.',
       'Partly cloudy starting in the morning and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy until evening and breezy in the evening.',
       'Windy in the afternoon.', 'Overcast until morning.',
       'Mostly cloudy overnight.',
       'Foggy starting in the morning continuing until evening and breezy in the evening.',
       'Breezy starting overnight continuing until morning.',
       'Breezy starting in the afternoon continuing until evening and foggy starting in the evening.',
       'Mostly cloudy until night and breezy overnight.',
       'Mostly cloudy starting in the morning and windy in the evening.',
       'Partly cloudy throughout the day and windy starting in the morning continuing until afternoon.',
       'Breezy until afternoon and overcast throughout the day.',
       'Breezy in the morning and foggy in the evening.',
       'Breezy starting in the afternoon continuing until evening and foggy in the evening.',
       'Breezy starting in the morning continuing until night.',
       'Breezy in the morning and mostly cloudy starting in the evening.',
       'Mostly cloudy until evening and breezy in the afternoon.',
       'Mostly cloudy until night and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy until evening and breezy starting overnight continuing until morning.',
       'Overcast throughout the day and breezy in the afternoon.',
       'Overcast throughout the day and breezy starting in the morning continuing until evening.',
       'Overcast throughout the day and breezy overnight.',
       'Overcast starting in the afternoon.',
       'Partly cloudy throughout the day and breezy in the afternoon.',
       'Light rain starting overnight.',
       'Drizzle starting in the evening.', 'Drizzle until morning.',
       'Rain throughout the day.', 'Rain until morning.',
       'Light rain overnight.', 'Rain until afternoon.'], dtype=object)

In [13]:
# How many rows and cols
print('No. of Rows and Cols', df.shape)
print('No. of Rows:', len(df))
print('No. of Rows:', df.shape[0])
print('No. of Cols:', len(df.columns))
print('No. of Cols:', df.shape[1])

No. of Rows and Cols (96453, 12)
No. of Rows: 96453
No. of Rows: 96453
No. of Cols: 12
No. of Cols: 12

In [14]:
# Values of the specified cloumns
df['Humidity']

0        0.89
1        0.86
2        0.89
3        0.83
4        0.83
         ...
96448    0.43
96449    0.48
96450    0.56
96451    0.60
96452    0.61
Name: Humidity, Length: 96453, dtype: float64

In [16]:
df[['Humidity', 'Wind Speed (km/h)']]

       Humidity  Wind Speed (km/h)
0          0.89            14.1197
1          0.86            14.2646
2          0.89             3.9284
3          0.83            14.1036
4          0.83            11.0446
...         ...                ...
96448      0.43            10.9963
96449      0.48            10.0947
96450      0.56             8.9838
96451      0.60            10.5294
96452      0.61             5.8765

[96453 rows x 2 columns]

In [17]:
# Slicing
# iloc[rows, cols]
# iloc[:, :] # all the rows and all the cols.
# iloc[0:5, :] # rows from 0 to 4 and all the cols.
# iloc[0:5, 0:1] # rows from o to 4 and cols 0 to 1.
# iloc[:, :-1] # all the rows, and all the cols except last column.
# iloc[:, -1] # all the rows, and last column only.

In [18]:
# Show record from index 10 to 20 and the values of first 3 columns.
df.iloc[10:21, 0:3]

                   Formatted Date        Summary Precip Type
10  2006-04-01 10:00:00.000 +0200  Partly Cloudy        rain
11  2006-04-01 11:00:00.000 +0200  Partly Cloudy        rain
12  2006-04-01 12:00:00.000 +0200  Partly Cloudy        rain
13  2006-04-01 13:00:00.000 +0200  Partly Cloudy        rain
14  2006-04-01 14:00:00.000 +0200  Partly Cloudy        rain
15  2006-04-01 15:00:00.000 +0200  Partly Cloudy        rain
16  2006-04-01 16:00:00.000 +0200  Partly Cloudy        rain
17  2006-04-01 17:00:00.000 +0200  Mostly Cloudy        rain
18  2006-04-01 18:00:00.000 +0200  Mostly Cloudy        rain
19  2006-04-01 19:00:00.000 +0200  Mostly Cloudy        rain
20  2006-04-01 20:00:00.000 +0200  Mostly Cloudy        rain

In [19]:
# loc[indexno.] show the row index.
df.loc[10]

Formatted Date                  2006-04-01 10:00:00.000 +0200
Summary                                         Partly Cloudy
Precip Type                                              rain
Temperature (C)                                     16.016667
Apparent Temperature (C)                            16.016667
Humidity                                                 0.67
Wind Speed (km/h)                                     17.5651
Wind Bearing (degrees)                                  290.0
Visibility (km)                                       11.2056
Loud Cover                                                0.0
Pressure (millibars)                                  1017.42
Daily Summary               Partly cloudy throughout the day.
Name: 10, dtype: object

In [20]:
# Filtering
# show the records where df['Precip Type'] is rain.
df[df['Precip Type'] == 'rain']

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [22]:
df[['Formatted Date',	'Summary',	'Precip Type',	'Temperature (C)',	'Apparent Temperature (C)']][df['Precip Type'] == 'rain']

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778
...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889

In [24]:
#['Precip Type'] == 'rain'], [Temperature (C) >9, <15]
df[['Formatted Date',	'Summary',	'Precip Type',	'Temperature (C)',	'Apparent Temperature (C)']][(df['Precip Type'] == 'rain') & ((df['Temperature (C)'] > 9)  & (df['Temperature (C)'] < 15))]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222
...,...,...,...,...,...
96362,2016-09-06 05:00:00.000 +0200,Partly Cloudy,rain,11.950000,11.950000
96363,2016-09-06 06:00:00.000 +0200,Mostly Cloudy,rain,12.338889,12.338889
96364,2016-09-06 07:00:00.000 +0200,Mostly Cloudy,rain,12.872222,12.872222
96365,2016-09-06 08:00:00.000 +0200,Mostly Cloudy,rain,14.866667,14.866667
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222

In [25]:
df[['Formatted Date',	'Summary',	'Precip Type',	'Temperature (C)',	'Apparent Temperature (C)']][(df['Precip Type'] == 'rain') | (df['Precip Type'] == 'snow')]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778
...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889

In [27]:
df[['Formatted Date',	'Summary',	'Precip Type',	'Temperature (C)',	'Apparent Temperature (C)']][df['Precip Type'].isin(['rain', 'snow'])]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778
...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889

In [28]:
# mathmatical function
df['Humidity'].min()

0.0

In [29]:
df['Humidity'].max()

1.0

In [30]:
df['Humidity'].mean()

0.7348989663359355

In [32]:
df['Humidity'].median()

0.78

In [33]:
df['Humidity'].std()

0.1954727390672154

In [34]:
# null values
df.isnull()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,False,False,False,False,False,False,False,False,False,False,False,False
96449,False,False,False,False,False,False,False,False,False,False,False,False
96450,False,False,False,False,False,False,False,False,False,False,False,False
96451,False,False,False,False,False,False,False,False,False,False,False,False
96452,False,False,False,False,False,False,False,False,False,False,False,False

In [35]:
df.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [37]:
# Get all the column names
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')