# <font color='green'>Merge Data Frame</font>

In [9]:
import pandas as pd

In [10]:
temp1={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "temp":[14,16,15,10]
}
temp=pd.DataFrame(temp1)
temp

       date  event  temp
0  01-02-12  sunny    14
1  03-02-12   cold    16
2  04-02-12   cold    15
3  05-02-12  rainy    10

In [11]:
ws={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
}
wind_speed=pd.DataFrame(ws)
wind_speed

       date  event  wind-speed
0  01-02-12  sunny          12
1  03-02-12   cold          10
2  04-02-12   cold           9
3  05-02-12  rainy          14

## <font color='green'>Inner Join (default)</font>

In [12]:
inner_df = pd.merge(temp, wind_speed, on=['date', 'event'])
inner_df

       date  event  temp  wind-speed
0  01-02-12  sunny    14          12
1  03-02-12   cold    16          10
2  04-02-12   cold    15           9
3  05-02-12  rainy    10          14

In [13]:
temp1 = {
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','hot','sunny'],
      "temp":[14,16,15,10]
}
temp = pd.DataFrame(temp1)
temp

       date  event  temp
0  01-02-12  sunny    14
1  03-02-12   cold    16
2  04-02-12    hot    15
3  05-02-12  sunny    10

In [14]:
ws={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
}
wind_speed = pd.DataFrame(ws)
wind_speed

       date  event  wind-speed
0  01-02-12  sunny          12
1  03-02-12   cold          10
2  04-02-12   cold           9
3  05-02-12  rainy          14

In [15]:
inner_df = pd.merge(temp, wind_speed, on=["date", "event"], how='inner')
inner_df

       date  event  temp  wind-speed
0  01-02-12  sunny    14          12
1  03-02-12   cold    16          10

## <font color='green'>Outer Join</font>

In [16]:
outer_df = pd.merge(temp, wind_speed, on=["date", "event"], how='outer')
outer_df

       date  event  temp  wind-speed
0  01-02-12  sunny  14.0        12.0
1  03-02-12   cold  16.0        10.0
2  04-02-12    hot  15.0         NaN
3  05-02-12  sunny  10.0         NaN
4  04-02-12   cold   NaN         9.0
5  05-02-12  rainy   NaN        14.0

## <font color='green'>Left Join</font>

In [17]:
left_df = pd.merge(temp, wind_speed, on=["date", "event"], how='left')
left_df

       date  event  temp  wind-speed
0  01-02-12  sunny    14        12.0
1  03-02-12   cold    16        10.0
2  04-02-12    hot    15         NaN
3  05-02-12  sunny    10         NaN

## <font color='green'>Right Join</font>

In [18]:
right_df = pd.merge(temp, wind_speed, on=["date", "event"], how='right')
right_df

       date  event  temp  wind-speed
0  01-02-12  sunny  14.0          12
1  03-02-12   cold  16.0          10
2  04-02-12   cold   NaN           9
3  05-02-12  rainy   NaN          14